<header>
    <%= link_to logo, root_path %>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Help", help_path %></li>
<<<<<<< HEAD
            <% if current_user.present? %>
                <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
=======
            
            <% if signed_in.present? %>
                <li><%= link_to "Sign out", sessions_path, :method => :delete %></li>
>>>>>>> 62386a805727b97f3af15645a393fdecc0aaa6b6
            <% else %>
                <li><%= link_to "Sign in", new_session_path %></li>
            <% end %>
        </ul>
    </nav>
</header>